#parent {
    /* uncomment when trying absolute position */
    
    /*position: relative;*/
    
    display: grid ;
  /* friend help */
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.child{

}

.child1{
    /* static is the default position and can not be changed by top, bottom left and right */
   /* position: static; */
    top: 20px;
    right: 20px;

    margin: 3%;

}
.child2{
    /* stays in it is original place till it touches the specified point on the screen (40px) then it sticks to the screen like fixed position */
  /*  position: sticky; */
    top: 0px;
    margin: 3%;

}
.child3{
    /* moves around relative to the original static position */
    /*position: relative;*/
    bottom:0px;
    left: 0px;
    margin: 3%;
}
.child4{
    /* uncomment when trying absolute position, it works in 2 different ways depending on whether one of the parents is positioned (has a position other than static )or not  */
    /* position: absolute; */
    left: 0px;
    top:0px;
    margin: 3%;
}
.child5{
    /* uncomment when working with fixed, it moves to element to a fixed position according to the whole document */
    /* position: fixed; */
    top: 59px;
    left: 200px;
    margin: 3%;
}


