body{
    text-align: center;

  

}
#parent{
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
    border-style:none;

}
img{
    width: 40%;
    height: 40%;
}
div{
    border: 1px solid red;
}